@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

/* Fixing blockly workspace issue*/
svg[display="none"] {
  display: none;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-full mx-auto sm:px-16 px-6;
}

/* Hero Section */
.main_heading{
  @apply mt-10 sm:mt-12 text-5xl leading-[1.15] text-black sm:text-6xl;
}

.sub_heading{
  @apply mt-1 text-2xl leading-[1.15] sm:text-6xl;
}

.description{
  @apply mt-5 text-lg text-gray-500 sm:text-xl;
}

.blue_purple_gradient {
  @apply bg-gradient-to-r from-cyan-600 from-10% via-blue-800 via-50% to-purple-950 bg-clip-text text-transparent;
}

/* Navbar */
.nav_bar{
  @apply bg-blue-800/50 backdrop-blur-md backdrop-filter fixed top-0 left-0 right-0 z-50;
}

.logo_text {
  @apply max-sm:hidden font-inter font-semibold text-lg text-black tracking-wide;
}

.nav_link{
  @apply border border-blue-800 bg-blue-800 px-2 py-1 mx-1 my-1 rounded-md font-inter flex items-center justify-center transition-all text-center text-sm;
}

.main_nav_link {
  @apply text-white hover:bg-white hover:text-blue-800;
}

.opp_nav_link {
  @apply bg-white text-blue-800 hover:bg-blue-800 hover:text-white;
}

/* NavBar on Mobile */
.dropdown_menu {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-blue-800/95 min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter font-medium;
}

.main_dropdown_link {
  @apply  text-white hover:text-gray-300 ;
}

.opposite_dropdown_link {
  @apply  mt-5 w-full px-1 py-1 rounded-full border border-blue-800 bg-white text-blue-800 hover:text-gray-500;
}


/* Puzzle Creator Page */

.form_header{
  @apply mt-2 text-xl font-extrabold leading-[1.15] sm:text-2xl;
}

.form_instructions{
  @apply my-1 text-xs text-gray-500 sm:text-sm max-w-2xl;
}

.form_input{
  @apply w-full flex rounded-lg p-1 mt-2 text-sm text-gray-500 outline-0 border border-gray-300;
}

.form_input_short{
  @apply w-1/4 flex rounded-lg p-1 my-2 text-sm text-gray-500 outline-0 border border-gray-300;
}

.form_textarea{
  @apply h-[100px];
}

.form_button{
  @apply w-1/2 bg-blue-800 text-white border-2 border-blue-800 rounded-full mt-2 py-2 text-sm font-inter font-semibold;
}

.form_button:hover{
  @apply bg-white text-blue-800 border-2 border-blue-800;
}

.edit_world_button{
  @apply w-1/4 bg-blue-800 text-white rounded-full text-sm font-inter font-semibold;
}

.edit_world_button:hover{
  @apply bg-white text-blue-800 border-2 border-blue-800;
}

.form_range{
  @apply w-full mt-1 accent-purple-800;
}

.speed_range{
  @apply w-5/6 mt-1 accent-blue-800;
}

.reversed_range{
  direction: rtl;
}

.form_label{
  @apply mt-1 text-sm font-inter font-semibold block;
}

.world_title{
  @apply mt-2 text-xl font-extrabold leading-[1.15] sm:text-2xl;
}

.see_more{
  @apply mt-2 text-sm text-blue-800 underline font-inter font-semibold;
}

/* Puzzle Solving Page */
.puzzle_instructions{
  @apply my-2 text-xs text-gray-800 sm:text-sm max-w-md;
}

/** Puzzles View Page */

.puzzle_card{
  @apply w-1/2 p-2 flex flex-col gap-2;
}

.glassy{
  @apply rounded-xl border border-blue-500 bg-blue-500/20 shadow-[inset_10px-50px_94px_0_rgb(250,250,250,0.8)] backdrop-blur-md backdrop-filter;
}

.puzzle_card_title{
  @apply text-lg font-inter font-semibold;
}

.puzzle_card_description{
  @apply text-sm text-gray-500;
}

.puzzle_card_image{
  @apply w-1/2;
}
.puzzle_card_button{
  @apply w-1/2 bg-blue-800 text-white rounded-full py-1 text-sm font-inter font-semibold border;
}

.puzzle_card_button:hover{
  @apply bg-white text-blue-800 border-blue-800;
}

.puzzles_layout{
  @apply py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Viewable Puzzle */

.hint_button{
  @apply border border-blue-800 bg-blue-800 p-1 rounded-sm text-white font-inter flex items-center justify-center transition-all text-center text-sm;
}

.hint_button:hover{
  @apply bg-white text-blue-800;
}

/* .nav_link{
  @apply border border-blue-800 bg-blue-800 px-2 py-1 mx-1 my-1 rounded-md font-inter flex items-center justify-center transition-all text-center text-sm;
} */